/*  #region body */
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: white;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* for all "p" text */
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* #endregion*/

/* #region Header section */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.nav-menu {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: #404bbf;
}

.active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  display: block;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #endregion*/

/* #region Hero Section */

.hero-section {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  max-width: 496px;
  margin: 0 0 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion*/

/* #region Benefits section */

.benefits-section {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-icon-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;

  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.benefits-title {
  margin-bottom: 8px;
}

.section-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 auto;
}
/* #endregion*/

/* #region Our Team section */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-section .section-title {
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-card {
  background-color: white;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;

  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card-content {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
/* #endregion*/

/* #region Our Portfolio section */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-section .section-title {
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  cursor: pointer;

  /* Transition - Плавність переходу
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

  /* або в одну строку: */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card-title {
  margin-bottom: 8px;
}

.portfolio-card-content .text {
  margin-bottom: 0;
}

.portfolio-img-wraper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  margin: 0;

  transform: translateY(100%);

  /* Transition - Плавність переходу
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

  /* або в одну строку: */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* #endregion */

/* #region Footer section */

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-wraper {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo-studio {
  color: #f4f4fd;
}

.footer-text {
  color: inherit;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0;
}

.footer-social-title {
  margin-top: 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer .social {
  gap: 16px;
  justify-content: flex-start;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}
/* #endregion */
